   @font-face {
   font-family: myHeaderFont;
   src: url(../IronickNF.ttf);
   src: url(../IronickNF.otf);
}  
h5 {
    text-shadow: 2px 2px 0px #e2c47c;
      font-size:200%;
    font-family: myHeaderFont, "Antiqua", serif;
}
h4 {
    text-shadow: 2px 2px 0px #e2c47c;
      font-size:300%;
    font-family: myHeaderFont, "Antiqua", serif;
}
h6 {
    text-shadow: 2px 2px 0px #e2c47c;
      font-size:150%;
    font-family: myHeaderFont, "Antiqua", serif;
}
@media only screen and (max-width: 2000px) {
   body { font-size:200%;}
}
@media only screen and (max-width: 1500px) {
   body { font-size:150%;}
}
@media only screen and (max-width: 1200px) {
   body { font-size:100%;}
}
@media only screen and (max-width: 800px) {
   body { font-size:50%;}
}
#fit_bg img {
    max-width: 100%;
    height: auto;
    width: auto;
}
#index_button_box {
    position: absolute;
    top: 25%; 
    width: 18%;
    max-width: 500px;
    margin-left: 65%;
    text-align: left;
    z-index: 1;
}
/*index-sivulle */
#bg_index {
    position: absolute;
    top: 0%; 
    width: 100%;
    margin-left: 0%;
    text-align: center;
} 
#index_plate {
    position: absolute;
    top: 5%; 
    width: 80%;
    margin-left: 10%;
    text-align: center;
} 
#index_text_box {
    position: absolute;
    top: 15%; 
    width: 60%;
    margin-left: 15%;
    text-align: left;
    z-index: 1;
}
    
        a:link {
        color: black;
        text-decoration: none;
    }
    a:visited {
        color: black;
        text-decoration: none;
    }
